@using IpCamMonitor.Models.HomeModel
@model List<HomeViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    <title>Index</title>
   
</head>
<body>
<div id="main_panel">
    <div class="text-center">
        <h1>ООРКК - Онлайн мониторинг аудиторий</h1>
    </div class="btn btn-success" >
        @Html.ActionLink("Настройки", "/Index/", "Settings")
        @foreach (var pic in Model)
        {

            <div class="panel panel-default">
                <div class="panel-heading">@pic.Title</div>
                <div class="panel-body">
                    <img src="@Url.Content(pic.FileName)" width="304" /> @*pic.FileName*@
                </div>
            </div>           
        }



    </div>
    
</body>
</html>
