@using IpCamMonitor.Models.HomeModel
@model List<HomeViewModel>
@{   
    ViewBag.Title = "ООРКК - Онлайн мониторинг аудиторий";
}

<div id="main_panel">
    <div class="text-center">
        <h1>ООРКК - Онлайн мониторинг аудиторий</h1>      
    </div>

    <div id="dashboard">        
        @foreach (var pic in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@pic.Title</div>               
                <div class="panel-body" style="padding: 1px">
                    @{string src = "http://" + pic.Uri;}
                    <img src="@src" width="304" />
                </div>
            </div>
        }
    </div>      

</div>
   