@using IpCamMonitor.Models.HomeModel
@model List<HomeViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title>Index</title>
   
</head>
<body>
<div id="main_panel">
    <div class="text-center">
        <h1>ООРКК - Онлайн мониторинг аудиторий</h1>
        @Html.ActionLink("Настройки", "/Index/", "Settings")
    </div>

    <div id="dashboard">        
        @foreach (var pic in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">@pic.Title</div>               
                <div class="panel-body" style="padding: 1px">
                    @{string src = "http://" + pic.Uri;}
                    <img src="@src" width="304" />
                </div>
            </div>
        }
    </div>      

</div>
    
</body>
</html>
