body {
    padding-top: 50px;        
}

.admin
{
    display: block !important;
}

.user{
    display: none !important;
}

.panel {
    float: left;
    margin: 2px;
    border: 1px outset;
    border-radius: 2px;
}

.panel-heading{
    padding: 5px 15px !important;
    background-color: #404040 !important;
}

.panel-body{
    padding: 0px;
}