<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
    <add key="PathToSettingsXML" value="C:\inetpub\wwwroot\IpCamMonitor\config.xml" />
    <add key="PathToVLCexe" value="C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" />
    <add key="TranscodeParams" value="#transcode{vcodec=mjpg,vb=1000,venc=x264{preset=ultrafast,tune=zerolatency,intra-refresh,lookahead=10,keyint=15},scale=1.0,fps=20,acodec=none}:standard{access=http{mime=multipart/x-mixed-replace; boundary=7b3cc56e5f51db803f790dad720ed50a},mux=mpjpeg,dst=:"/>
  </appSettings>
</configuration>